<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="toy-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toy-link">
                <a href="{% url 'products' %}?category=chew" class="dropdown-item">Chew Toys</a>
                <a href="{% url 'products' %}?category=fetch" class="dropdown-item">Fetch Toys</a>
                <a href="{% url 'products' %}?category=interactive" class="dropdown-item">Interactive Puzzles</a>
                <a href="{% url 'products' %}?category=chew%2Cfetch%2Cinteractive" class="dropdown-item">All Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="training-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training &amp; Enrichment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="training-link">
                <a href="{% url 'products' %}?category=clickers_whistles" class="dropdown-item">Clickers &amp; Training Whistles</a>
                <a href="{% url 'products' %}?category=treat_pouches" class="dropdown-item">Treat Pouches</a>
                <a href="{% url 'products' %}?category=snuffle_mats" class="dropdown-item">Snuffle Mats</a>
                <a href="{% url 'products' %}?category=clickers_whistles%2Ctreat_pouches%2Csnuffle_mats" class="dropdown-item">All Training &amp; Enrichment</a>
            </div>
        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=collars_leashes" class="dropdown-item">Collars &amp; Leashes</a>
                <a href="{% url 'products' %}?category=harnesses" class="dropdown-item">Harnesses</a>
                <a href="{% url 'products' %}?category=collars_leashes%2Charnesses" class="dropdown-item">All Dog Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals%2Cdeals%2Cclearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>